/AuthService/.vs
/AuthService/AuthService/obj
/AuthService/AuthService/obj
/AuthService/.vs
*.vsidx
/AuthService/.vs
/AuthService/AuthService/obj
AuthService/.vs/AuthService/v17/.suo
/AuthService/.vs
*.pdb
*.dll
/AuthService/AuthService/obj
/AuthService/.vs
/AuthService/AuthService/bin
